body {
  background:#0b5;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.scene {
  perspective: 800px;
}

.domino {
  width:120px;
  height:60px;
  position:relative;
  transform-style:preserve-3d;
  transform: rotateX(25deg) rotateY(30deg);
}

.face {
  position:absolute;
  background:#f5f5f5;
  border-radius:10px;
  box-shadow:0 10px 20px rgba(0,0,0,.4);
}

.front {
  width:120px;
  height:60px;
  transform: translateZ(10px);
  display:flex;
}

.back {
  width:120px;
  height:60px;
  transform: rotateY(180deg) translateZ(10px);
}

.left {
  width:20px;
  height:60px;
  transform: rotateY(-90deg) translateZ(10px);
}

.right {
  width:20px;
  height:60px;
  transform: rotateY(90deg) translateZ(110px);
}

.top {
  width:120px;
  height:20px;
  transform: rotateX(90deg) translateZ(10px);
}

.bottom {
  width:120px;
  height:20px;
  transform: rotateX(-90deg) translateZ(40px);
}

.half {
  flex:1;
  display:grid;
  place-items:center;
}

.dot {
  width:10px;
  height:10px;
  background:black;
  border-radius:50%;
}
